<div>
  <div class="flex justify-between items-center">
    <i class="fa-solid fa-circle-chevron-left text-green"></i>
    <h2 class="text-lg font-semibold">Frances</h2>
    <i class="fa-solid fa-circle-chevron-right text-green"></i>
  </div>
  <div class="mt-5 flex items-center">
    <span
      class="bg-ligth-green flex justify-center items-center text-center rounded-full text-white font-semibold p-2 w-12 h-12"
    >
      A1
    </span>
    <!-- <span class="bg-ligth-green h-5 w-5"></span> -->
    <span
      class="bg-ligth-green flex justify-center items-center text-center rounded-full text-white font-semibold p-2 w-12 h-12"
    >
      A2
    </span>
  </div>
</div>
