<div class="flex flex-col gap-10">
  <div
    class="shadow-md rounded-2xl flex flex-col justify-between"
  >
    <video class="max-h-[650px]"></video>
    <div class="flex justify-between items-center p-4 w-full">
      <button
        class="border border-green rounded-2xl py-2 px-3 text-green flex items-center gap-2"
      >
        <i class="fa-solid fa-angle-left text-lg"></i>
        <span>Lección anterior</span>
      </button>
      <button
        class="text-white bg-green rounded-2xl py-2 px-3 flex items-center gap-2"
      >
        <span>Lección anterior</span>
        <i class="fa-solid fa-angle-right text-lg"></i>
      </button>
    </div>
  </div>

  <div class="shadow-lg rounded-2xl h-full w-full">
    <div class="bg-normal-purple p-4 rounded-t-2xl">
      <h1 class="text-white text-center font-semibold text-2xl">
        Grado A1.1 - Primeros pasos
      </h1>
    </div>

    <div class="p-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
        officiis at cupiditate dolores eligendi enim, vero delectus sapiente,
        facere reprehenderit repellat? Omnis consequuntur porro facere nesciunt?
        Illo vel veritatis optio. Voluptates nostrum voluptatem sint autem ullam
        sapiente tempore id, recusandae fugit necessitatibus placeat repellat
        quibusdam nemo! Tempora a ex doloribus illo, error aut eos distinctio
        ratione? Nesciunt accusamus magnam labore? Numquam laboriosam
        praesentium nisi est at aliquam consequatur consequuntur, cum quibusdam
        corrupti perferendis aperiam pariatur nesciunt reiciendis porro quia
        ipsa illo voluptatum magni cumque rerum eveniet minima nobis. Ipsum, at?
      </p>
    </div>
  </div>
</div>
