<div class="flex gap-10 h-full">
  <div class="max-w-[400px]">
    <h1 class="text-green text-2xl">Grado A1:</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
      voluptatum. Assumenda suscipit nostrum sunt eos ipsa saepe necessitatibus
      rerum quaerat officiis reiciendis architecto libero voluptate, hic,
      inventore iusto vel reprehenderit? Exercitationem minima, pariatur optio
      eaque mollitia rerum eveniet adipisci libero illo? Reprehenderit, quos.
      Placeat sint natus ullam ex iusto quam accusantium soluta laudantium odit.
      Quo nihil explicabo voluptates tempora minus?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolor saepe
      maiores inventore ratione sit ut nihil modi totam numquam corrupti
      pariatur, cupiditate, delectus repudiandae necessitatibus reprehenderit
      vitae, soluta illo!
    </p>
  </div>

  <div class="shadow-lg rounded-2xl h-full w-full">
    <div
      class="bg-normal-purple p-4 rounded-t-2xl flex items-center justify-between"
    >
      <i class="fa-solid fa-circle-left text-4xl text-white"></i>
      <h1 class="text-white font-semibold text-2xl lg:text-4xl">
        Grado A1.1 - Primeros pasos
      </h1>
      <i class="fa-solid fa-circle-right text-4xl text-white"></i>
    </div>

    <div class="p-4 flex flex-col gap-2 overflow-hidden">
      <app-row-card-course></app-row-card-course>
    </div>
  </div>
</div>
