<div class="shadow-lg rounded-2xl h-full w-full">
  <h1
    class="bg-normal-purple p-4 rounded-t-2xl text-white font-semibold text-2xl lg:text-4xl"
  >
    Selección de becas
  </h1>
  <div class="px-4 py-6 flex flex-col gap-2 overflow-hidden bg-gray-100">
    <h2 class="text-xl">
      Búsca becas de diplomados, doctorados, entre otros, que en su nombre
      contengan palabras clave sobre tus intereses de estudio.
    </h2>
    <div class="flex items-center gap-10 mt-5">
      <input class="w-full" type="text" />
      <button
        class="bg-green hover:bg-ligth-green rounded-xl py-2 text-center text-lg text-white font-semibold shadow-md w-[300px]"
      >
        Búscar becas
      </button>
    </div>
  </div>
  <div class="p-4 flex flex-col gap-2 overflow-hidden">
    <div class="bg-gray-100 p-4 rounded-xl border-l-[12px] border-green">
      <h2 class="text-xl text-dark-purple font-semibold">
        Animación 3D y producción opciones de diseño de juegos, director
      </h2>
      <span class="block my-4">ITECOM Diseño Arte</span>
      <ul class="flex items-center justify-between w-[90%]">
        <li class="flex items-center gap-3">
          <i class="fa-solid fa-clock text-green text-lg"></i>
          <span>2 años</span>
        </li>
        <li class="flex items-center gap-3">
          <i class="fa-regular fa-calendar-days text-green text-lg"></i>
          <span>03/01/23</span>
        </li>
        <li class="flex items-center gap-3">
          <i class="fa-solid fa-location-dot text-green text-lg"></i>
          <span>Abrir mapa</span>
        </li>
        <li class="flex items-center gap-3">
          <i class="fa-solid fa-house-chimney text-green text-lg"></i>
          <span>iffdec.com</span>
        </li>
      </ul>
    </div>
  </div>
</div>
