<div class="shadow-lg rounded-2xl h-full w-full p-10">
  <div class="mb-10">
    <h1 class="text-xl text-dark-purple mb-3">Webinars y diferidos</h1>
    <p>
      Si existe una transmisión en vivo, el video en la parte inferior mostrará
      un "En directo" con un icono rojo. Aquí podrás ver todos los webinars
      pasados y alimentarte aun más de conocimiento, escuchas consejos de los
      profesores, aprender de dudas de otros usuarios, aprender de cosas que tal
      vez aun no sabias y que son, ¡de gran ayuda!
    </p>
  </div>
  <div class="border-t-2 border-green py-5">
    <div>
      <h2 class="text-xl text-green mb-3">Titulo del webinar</h2>
      <div>
        <div></div>
        <div>
          <p>
            Raising bilingual children rarely happens by accident, but childhood
            is the best time to teach your children a new language! Here are 5
            tips to help you get going in the right direction!
          </p>
          <div class="flex justify-end mt-3">
            <button
              class="text-center text-green font-semibold rounded-xl shadow-md px-4 py-2 border border-green w-[150px]"
            >
              ¡Ver webinar!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
